<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.Listener" />
	</listeners>
	<test name="Test">
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="11.0" />
		<parameter name="appPackage" value="com.androidsample.generalstore" />
		<parameter name="appActivity" value="com.androidsample.generalstore.SplashActivity" />
		<parameter name="appPath" value="General-Store.apk" />
		<parameter name="isWebTest" value="false" />
		<parameter name="browserName" value="Chrome" />
		<parameter name="automationName" value="UIAutomator2" />
		<parameter name="link" value="https://demowebshop.tricentis.com/" />
		<parameter name="deviceName" value="emulator-5554" />
		<parameter name="testData" value="derulo.json" />
		<classes>
			<class name="tests.sampleTestGeneralStore" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
